<center><h1> Numeros Complejos</h1></center>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Menu de Opciones:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Transformaciones </a>
      <a class="nav-item nav-link active" href="/operaciones">Operaciones Basicas <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/operacionesAvanzadas">Operaciones Avanzadas</a>
      <a class="nav-item nav-link active" href="/fasores">Suma de Fasores</a>
    </div>
  </div>
  <br>
<br>
</nav>