


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">

            <div class="card-body">
  <center><h3>Suma de Fasores</h3></center>              
<br>

    <form name="form" action="/operaciones/sumarfasores" method="POST">

    <div name="funcion" id="F1">
         <div class="row">
                 <label class="col-md-4">Ingresar Funcion F1:</label>                   
                        <input style="text-align: right" size="4" type="text" id="real_z1" name="realZ1" placeholder="A" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />
                        <select name="formaZ1" id="forma_z1" class="form-control col-md-3" onchange="displayOnOff_z1()"  >
                            <option value="cos">Cos</option>
                            <option value="sen">Sen</option> 
                        </select>
                        (<input style="text-align: right" size="4" type="text" id="imaginario_z1" name="imaginarioZ1" placeholder="wt" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />
                         + <input style="text-align: right" size="4" type="text" id="imaginario_z1" name="imaginarioZ1" placeholder="G" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> )
     
        </div>

    </div>
    <br>

    <div name="funcion" id="F2">
         <div class="row">
                 <label class="col-md-4">Ingresar Funcion F1:</label>                   
                        <input style="text-align: right" size="4" type="text" id="real_z1" name="realZ1" placeholder="A" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />
                        <select name="formaZ1" id="forma_z1" class="form-control col-md-3" onchange="displayOnOff_z1()"  >
                            <option value="cos">Cos</option>
                            <option value="sen">Sen</option> 
                        </select>
                        (<input style="text-align: right" size="4" type="text" id="imaginario_z1" name="imaginarioZ1" placeholder="wt" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />
                         + <input style="text-align: right" size="4" type="text" id="imaginario_z1" name="imaginarioZ1" placeholder="G" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> )
     
        </div>

    </div>
<br>
                        <center>
                            <button type="submit" class="btn btn-success btn-block col-md-6">
                                Realizar Operación
                            </button>
                        </center>
                    </div>

                </form>



            </div>

        </div>

    </div>


</div>

<script>
function displayOnOff_z1(){
    if(document.form.forma_z1.value == 'binomica'){
        document.getElementById('div_polar_z1').classList.add('d-none');
        document.getElementById('real_z1').setAttribute("required",true);
        document.getElementById('imaginario_z1').setAttribute("required",true); 
        
        document.getElementById('div_binomica_z1').classList.remove('d-none');
        document.getElementById('mod_z1').removeAttribute("required",true);
        document.getElementById('angle_z1').removeAttribute("required",true); 
        document.getElementById('mod_z1').value = null;
        document.getElementById('angle_z1').value = null;
    }else{
        document.getElementById('div_binomica_z1').classList.add('d-none');
        document.getElementById('real_z1').removeAttribute("required",true);
        document.getElementById('imaginario_z1').removeAttribute("required",true); 
        document.getElementById('real_z1').value = null;
        document.getElementById('imaginario_z1').value = null;

        document.getElementById('div_polar_z1').classList.remove('d-none');
        document.getElementById('mod_z1').setAttribute("required",true);
        document.getElementById('angle_z1').setAttribute("required",true);
    }
}

function displayOnOff_z2(){
    if(document.form.forma_z2.value == 'binomica'){
        document.getElementById('div_polar_z2').classList.add('d-none');
        document.getElementById('real_z2').setAttribute("required",true);
        document.getElementById('imaginario_z2').setAttribute("required",true); 
        
        document.getElementById('div_binomica_z2').classList.remove('d-none');
        document.getElementById('mod_z2').removeAttribute("required",true);
        document.getElementById('angle_z2').removeAttribute("required",true); 
        document.getElementById('mod_z2').value = null;
        document.getElementById('angle_z2').value = null;

    }else{
        document.getElementById('div_binomica_z2').classList.add('d-none');
        document.getElementById('real_z2').removeAttribute("required",true);
        document.getElementById('imaginario_z2').removeAttribute("required",true); 
        document.getElementById('real_z2').value = null;
        document.getElementById('imaginario_z2').value = null;

        document.getElementById('div_polar_z2').classList.remove('d-none');
        document.getElementById('mod_z2').setAttribute("required",true);
        document.getElementById('angle_z2').setAttribute("required",true);

    }
}

function div_por_cero(){

    if(document.getElementById('operacion').value == 'cociente'){
        if(document.form.forma_z2.value == 'polar'){
            if(document.getElementById('mod_z2').value === '0'){
                alert('No puede dividir por cero');
                document.getElementById('mod_z2').value = null;
            }
        }else{
            if(document.getElementById('real_z2').value === '0' && document.getElementById('imaginario_z2').value === '0'){
                alert('No puede dividir por cero');
                document.getElementById('real_z2').value = null;
                document.getElementById('imaginario_z2').value = null;
            }
        }
    }
}

</script>
