


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">

            <div class="card-body">
  <center><h3><b>Suma de Fasores</b></h3></center>              
<br>

    <form name="form" action="/operaciones/sumarfasores" method="POST">

    <div name="funcion" id="F1">
         <div class="row">
                 <label class="col-md-4">Ingresar Funcion F1:</label>                   
                        <input class="col-md-1" style="text-align: right" size="4" type="text" id="amp_F1" name="amp_F1" placeholder="A" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/>
                        &nbsp;<select name="tipo_F1" id="tipo_F1" class="form-control col-md-2"   >
                            <option value="cos">Cos</option>
                            <option value="sen">Sen</option> 
                        </select>
                        <b>&nbsp;(&nbsp;</b><input class="col-md-1" style="text-align: right" size="4" type="text" id="w_F1" name="w_F1" onchange="misma_w(this)" placeholder="w" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/><b>&nbsp;t&nbsp;</b> 
                         <b>&nbsp;+&nbsp;</b> <input class="col-md-1" style="text-align: right" size="4" type="text" id="faseInicial_F1" name="faseInicial_F1" placeholder="&phi;" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/>&pi; <b>&nbsp;)&nbsp;</b>
     
        </div>

    </div>
    <br>

    <div name="funcion" id="F2">
<div class="row">
                 <label class="col-md-4">Ingresar Funcion F2:</label>                   
                        <input class="col-md-1"  style="text-align: right" size="4" type="text" id="amp_F2" name="amp_F2" placeholder="A" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/>
                        &nbsp;<select name="tipo_F2" id="tipo_F2" class="form-control col-md-2"   >
                            <option value="cos">Cos</option>
                            <option value="sen">Sen</option> 
                        </select>
                        <b>&nbsp;(&nbsp;</b><input class="col-md-1" style="text-align: right" size="4" type="text" id="w_F2" onchange="misma_w(this)" name="w_F2" placeholder="w" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/><b>&nbsp;t&nbsp;</b> 
                         <b>&nbsp;+&nbsp;</b><input class="col-md-1" style="text-align: right" size="4" type="text" id="faseInicial_F2" name="faseInicial_F2" placeholder="&phi;" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." required/>&pi; <b>&nbsp;)&nbsp;</b>
     
        </div>

    </div>
<br>
                        <center>
                            <button type="submit" class="btn btn-success btn-block col-md-6">
                                Realizar Operación
                            </button>
                        </center>
                    </div>

                </form>



            </div>

        </div>

    </div>


</div>

<script>

function misma_w(obj){
    if(!!document.getElementById('w_F1').value && !!document.getElementById('w_F2').value ){
        if(document.getElementById('w_F1').value != document.getElementById('w_F2').value ){
            alert('Las funciones deben tener la misma frecuencia');
            obj.value = null;
        }
    }
}

</script>
