


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">

            <div class="card-body">
  <center><h3>Operaciones basicas</h3></center>              
<br>

                <form name="form" action="/operaciones/realizar" method="POST">

    <div name="complejo" id="Z1">
         <div class="row">
                 <label class="col-md-4">Ingresar Complejo Z1 en:</label>
                    
                        <select name="formaZ1" id="forma_z1" class="form-control col-md-3" onchange="displayOnOff_z1()"  >
                            <option value="binomica">Forma Binomica</option>
                            <option value="polar">Forma Polar</option> 
                        </select>
                    
                
                    <div id="div_binomica_z1" class="col-md-5">
                        (<input style="text-align: right" size="4" type="text" id="real_z1" name="realZ1" placeholder="a" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />

                        ,<input style="text-align: right" size="4" type="text" id="imaginario_z1" name="imaginarioZ1" placeholder="b" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> )
                    </div>
                    <div id="div_polar_z1" class="col-md-5" >
                        [<input style="text-align: right" size="4" type="text" id="mod_z1" name="modZ1" placeholder="mod" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />

                        ;<input style="text-align: right" size="4" type="text" id="angle_z1" name="angleZ1" placeholder="arg" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> &Pi;]
                    </div>
        </div>

    </div>
    <br>

     <div name="complejo" id="Z2">
         <div class="row">
                 <label class="col-md-4">Ingresar Complejo Z2 en:</label>
                    
                        <select name="formaZ2" id="forma_z2" class="form-control col-md-3" onchange="displayOnOff_z2()"  >
                            <option value="binomica">Forma Binomica</option>
                            <option value="polar">Forma Polar</option>
                        </select>
                    
                
                    <div id="div_binomica_z2" class="col-md-5">
                        (<input style="text-align: right" size="4" type="text" id="real_z2" name="realZ2" onchange="div_por_cero()" placeholder="a" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal."/>

                        ,<input style="text-align: right" size="4" type="text" id="imaginario_z2" name="imaginarioZ2" onchange="div_por_cero()" placeholder="b" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> )
                    </div>
                    <div id="div_polar_z2" class="col-md-5" >
                        [<input style="text-align: right" size="4" type="text" id="mod_z2" name="modZ2" onchange="div_por_cero()" placeholder="mod" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." />

                        ;<input style="text-align: right" size="4" type="text" id="angle_z2" name="angleZ2" placeholder="arg" pattern="-?[0-9]+(\.[0-9]+)?"  title="Ingrese un número entero o decimal. Sin separador de miles y con el (.) como separador decimal." /> &Pi;]
                    </div>
        </div>
<br>

    </div>


                    <div>
                        <div class="row">
                            <label style="text-align:right" class="col-md-5">Complejo Z1</label>
                            
                            <select name="operacion" id="operacion" class=" form-control col-md-2" onchange="div_por_cero()">
                                <option value="suma" > + </option>
                                <option value="resta"> - </option>
                                <option value="producto"> * </option>
                                <option value="cociente"> / </option>
                            </select>
                            <label class="col-md-5">Complejo Z2</label>
                        </div>
                        <br>
                    </div>
                        <center>
                            <button type="submit" class="btn btn-success btn-block col-md-6">
                                Realizar Operación
                            </button>
                        </center>
                    </div>

                </form>



            </div>

        </div>

    </div>


</div>

<script>
function displayOnOff_z1(){
    if(document.form.forma_z1.value == 'binomica'){
        document.getElementById('div_polar_z1').classList.add('d-none');
        document.getElementById('real_z1').setAttribute("required",true);
        document.getElementById('imaginario_z1').setAttribute("required",true); 
        
        document.getElementById('div_binomica_z1').classList.remove('d-none');
        document.getElementById('mod_z1').removeAttribute("required",true);
        document.getElementById('angle_z1').removeAttribute("required",true); 
        document.getElementById('mod_z1').value = null;
        document.getElementById('angle_z1').value = null;
    }else{
        document.getElementById('div_binomica_z1').classList.add('d-none');
        document.getElementById('real_z1').removeAttribute("required",true);
        document.getElementById('imaginario_z1').removeAttribute("required",true); 
        document.getElementById('real_z1').value = null;
        document.getElementById('imaginario_z1').value = null;

        document.getElementById('div_polar_z1').classList.remove('d-none');
        document.getElementById('mod_z1').setAttribute("required",true);
        document.getElementById('angle_z1').setAttribute("required",true);
    }
}

function displayOnOff_z2(){
    if(document.form.forma_z2.value == 'binomica'){
        document.getElementById('div_polar_z2').classList.add('d-none');
        document.getElementById('real_z2').setAttribute("required",true);
        document.getElementById('imaginario_z2').setAttribute("required",true); 
        
        document.getElementById('div_binomica_z2').classList.remove('d-none');
        document.getElementById('mod_z2').removeAttribute("required",true);
        document.getElementById('angle_z2').removeAttribute("required",true); 
        document.getElementById('mod_z2').value = null;
        document.getElementById('angle_z2').value = null;

    }else{
        document.getElementById('div_binomica_z2').classList.add('d-none');
        document.getElementById('real_z2').removeAttribute("required",true);
        document.getElementById('imaginario_z2').removeAttribute("required",true); 
        document.getElementById('real_z2').value = null;
        document.getElementById('imaginario_z2').value = null;

        document.getElementById('div_polar_z2').classList.remove('d-none');
        document.getElementById('mod_z2').setAttribute("required",true);
        document.getElementById('angle_z2').setAttribute("required",true);

    }
}

function div_por_cero(){

    if(document.getElementById('operacion').value == 'cociente'){
        if(document.form.forma_z2.value == 'polar'){
            if(document.getElementById('mod_z2').value === '0'){
                alert('No puede dividir por cero');
                document.getElementById('mod_z2').value = null;
            }
        }else{
            if(document.getElementById('real_z2').value === '0' && document.getElementById('imaginario_z2').value === '0'){
                alert('No puede dividir por cero');
                document.getElementById('real_z2').value = null;
                document.getElementById('imaginario_z2').value = null;
            }
        }
    }
}

displayOnOff_z2();
displayOnOff_z1();
</script>
