

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">

            <div class="card-body">
                


                <form name="form" action="/tranformar" method="POST">

                    <div class="form-group">
                        <select name="tranformacion" id="tranformacion" class="btn btn-success btn-block" onchange="displayOnOff()"  >
                            <option value="polar">Binomica a Polar</option>
                            <option value="binomica">Polar a Binomica</option>
                        </select>
                    </div>
                

                    <div id="div_binomica" class="form-group">
                        Binomica: (<input style="text-align: right" size="4" type="text" id="real" name="real" />

                        <input style="text-align: right" size="4" type="text" id="imag" name="imag" /> )




                    </div>
                    <div id="div_polar" class="form-group" >
                        Polar: [<input style="text-align: right" size="4" type="text" id="mod" name="mod" />

                        <input style="text-align: right" size="4" type="text" id="angle" name="angle" /> ]
                    </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">
                                Tranformar
                            </button>

                        </div>

                </form>



            </div>

        </div>

    </div>


</div>

<script>
function displayOnOff(){
    if(document.form.tranformacion.value == 'polar'){
        document.getElementById('div_polar').classList.add('d-none');
        document.getElementById('div_binomica').classList.remove('d-none');
    }else{
        document.getElementById('div_binomica').classList.add('d-none');
        document.getElementById('div_polar').classList.remove('d-none');
    }
}

displayOnOff();
</script>